<div [class.darkMode]="isDark$ | async" >
  <crm-top-nav></crm-top-nav>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/random/300*400?woman"
      />
      <h4 class="name">Ada Lovelace</h4>
      <p class="designation">Mathematician</p>

      <mat-divider></mat-divider>

      <crm-sidebar-list-item
        *ngFor="let i of [1, 2, 3]"
      ></crm-sidebar-list-item>
      <mat-divider></mat-divider>
      <crm-sidebar-list-item></crm-sidebar-list-item>
    </mat-sidenav>
    <mat-sidenav-content
      ><div class="content mat-elevation-z8" >
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
