mat-sidenav-container {
  height: calc(100vh- 80px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon {
    margin-right: 8px;
  }
}

mat-sidenav {
  margin: 16px;
  width: 70%;
  min-width: 300px;
  border-right: none;
  background-color: #333;
  color: white;
  padding: 16px;
  text-align: center;
}

.name {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.content {
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}
